.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 50px;
  height: 10vh;
}
.header .annee-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .annee-container .label-annee {
  font-size: 1.3em;
  font-weight: bold;
  user-select: none;
  color: #f4f4f4;
  margin-right: 15px;
}
.header .annee-container .select-annee {
  width: 90px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 5px grey;
  user-select: none;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  font-size: 18px;
}
.header .btn-add {
  user-select: none;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #f4f4f4;
  background-color: #f4f4f4;
  color: black;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  font-weight: 600;
}
.header .btn-add:hover {
  box-shadow: 3px 3px 6px #f4f4f4;
}

@media screen and (max-width: 650px) {
  .header a.btn-add i {
    font-size: 20px;
  }
  .header a.btn-add span {
    display: none;
  }
  .header .annee-container label.label-annee {
    display: none;
  }
  .header .annee-container select.select-annee {
    width: 60px;
    font-size: 15px;
  }
}
