.hero {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;

	.deco {
		&.animate {
			animation: rotation linear 10s infinite;
		}

		&#un {
			border-radius: 23% 77% 40% 60% / 30% 45% 55% 70%;
			top: 15%;
			left: 50px;
			position: absolute;
			background-color: #f85a79;
			width: 150px;
			height: 150px;
			background: rgb(248, 87, 125);
			background: radial-gradient(circle, rgba(248, 87, 125, 1) 0%, rgba(248, 87, 182, 0.6898109585631127) 100%);
		}
		&#deux {
			z-index: -1;
			border-radius: 0% 100% 100% 0% / 51% 100% 0% 49%;

			bottom: 0;
			left: 0;
			position: absolute;
			background-color: #f85a79;
			width: 450px;
			height: 450px;
			background: rgb(238, 174, 202);
			background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
		}

		&#trois {
			border-radius: 69% 31% 37% 63% / 51% 44% 56% 49%;
			top: 20px;
			left: 50%;
			position: absolute;
			background-color: #f85a79;
			width: 200px;
			height: 150px;
			background: rgb(238, 174, 202);
			background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
		}
		&#quatre {
			border-radius: 78% 22% 40% 60% / 58% 0% 100% 42%;
			top: 55%;
			right: 50px;
			transform: rotate(90deg);
			position: absolute;
			background-color: #f85a79;
			width: 225px;
			height: 225px;
			background: rgb(238, 174, 202);
			background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
		}
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
